.main-nav-container {
    width: 100%;
    background: var(--background-secondary);
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.main-menu ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.site-branding a{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.25rem;
    color: var(--neon-green-secondary);
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 700;
}

#block-andres-primary-local-tasks:hover {
    opacity: 1;
    transition: opacity .3s ease;
}

#block-andres-primary-local-tasks {
    position: relative;
    opacity: 0;
    transition: opacity 2s ease;
}

#block-andres-primary-local-tasks ul {
    position: absolute;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

#block-andres-primary-local-tasks li {
    padding: 5px 20px;
    background: var(--neon-blue-secondary);
    color: var(--neon-blue-primary);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#block-andres-primary-local-tasks li a {
    color: var(--neon-blue-dark);
    text-decoration: none;
}

.blue-primary-text {
    color: var(--neon-blue-primary);
}

.green-primary-text {
    color: var(--neon-green-primary);
}

.violet-primary-text {
    color: var(--neon-violet-primary);
}

.tag {
    background: rgba(255, 255, 255, 0.1);
    font-size: 0.7rem;
    font-weight: bold;
    padding: 6px 12px;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 24px;
    font-family: JetBrains Mono, monospace;
}

.tag-blue {
    color: var(--neon-blue-primary);
}

.tag-green {
    color: var(--neon-green-primary);
}

.tag-violet {
    color: var(--neon-violet-primary);
}

.button {
    border-radius: 4px;
    transition: background 0.3s ease, color 0.3s ease;
}
.button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}
.button.button-small {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
}

.button.button-medium {
    padding: 1rem 1.25rem;
    font-size: 1.25rem;
}

.button.button-large {
    padding: 1.5rem 2rem;
    font-size: 1.25rem;
}

.button.button-primary-blue {
    background: var(--neon-blue-primary);
    color: white;
}

.button.button-secondary-blue {
    background: var(--neon-blue-primary);
    color: var(--neon-blue-secondary);
    font-weight: 700;
}

.button.button-outline-blue {
    border: 1px solid var(--neon-blue-primary);
    color: var(--neon-blue-primary);
}

.button.button-primary-green {
    background: var(--neon-green-primary);
    color: white;
}

.button.button-secondary-green {
    background: var(--neon-green-primary);
    color: var(--neon-green-secondary);
    font-weight: 700;
}

.button.button-outline-green {
    border: 1px solid var(--neon-green-primary);
    color: var(--neon-green-primary);
}

.button.button-primary-violet {
    background: var(--neon-violet-primary);
    color: white;
}

.button.button-secondary-violet {
    background: var(--neon-violet-primary);
    color: var(--neon-violet-secondary);
    font-weight: 700;
}

.button.button-outline-violet {
    border: 1px solid var(--neon-violet-primary);
    color: var(--neon-violet-primary);
}

.background-primary {
    background: var(--background-main);
}

.background-secondary {
    background: var(--background-secondary);
}

.section {
    padding: 40px 10%;
}

.section-header{
    width: fit-content;
}

.section-header .section-header__divider {
    width: 30%;
    height: 5px;
    margin-top: 16px;
    border-radius: 2px;
}

.section-header__divider.divider-blue {
    background: var(--neon-blue-primary);
}

.section-header__divider.divider-green {
    background: var(--neon-green-primary);
}

.section-header__divider.divider-violet {
    background: var(--neon-violet-primary);
}

.text-code-style {
    font-family: 'JetBrains Mono', monospace;
}

.text-code-blue {
    color: var(--neon-blue-primary);
}

.text-code-green {
    color: var(--neon-green-primary);
}

.text-code-violet {
    color: var(--neon-violet-primary);
}

.layout__region--first, .layout__region--second {
    flex: 1 !important;
}

.layout--twocol {
    gap: 20px !important;
}


.rounded_icon-wrapper {
  background-color: rgba(0, 229, 255, 0.1);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.rounded_icon span{
  width: 24px;
  height: 24px;
}

.rounded-icon-blue .rounded_icon span{
  color: var(--neon-blue-primary);
}

.rounded-icon-green .rounded_icon span{
  color: var(--neon-green-primary);
}

.rounded-icon-violet .rounded_icon span{
  color: var(--neon-violet-primary);
}
